# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://username:password@host.neon.tech/neondb?sslmode=require"

# JWT Secret (genera una segura)
JWT_SECRET="your-super-secure-jwt-secret-min-32-chars"

# Node Environment
NODE_ENV="development"