@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.2%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 142.1 76.2% 36.3%;
    --secondary-foreground: 355.7 100% 97.3%;
    --muted: 142.1 76.2% 90.4%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 142.1 76.2% 90.4%;
    --accent-foreground: 222.2 84% 4.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}